<launch>
  <!--Prefix mit dem der turtlebot gelaunched wird zur steurung mehrerer Turtlebots hilfreich -->
  <arg name="tb" default="robot1"/>

  <include file="$(turtlebot3_bringup)/launch/robot.launch">
    <arg name="robot" value="$(arg tb)"/>
  </include>
  <node pkg="girlsday" name="robottalker" type="02_Robos/slavenode.py" output="screen">
    
  </node>
</launch>
