<launch>
  <!--Prefix mit dem der turtlebot gelaunched wird zur steurung mehrerer Turtlebots hilfreich -->
  <arg name="robot" default="robot1"/>

  <include file="$(find girlsday)/launch/robot.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>
  <node pkg="girlsday" name="robottalker" type="02_Robos/slavenode.py" output="screen">

  </node>
</launch>
